#banner {
  font-family: monospace;
  font-weight: bold;
  line-height: 100%;
  padding: 30px;
  text-align: justify;
  text-transform: uppercase;
}

#banner > span {
  opacity: 0.25;
}

#banner > span.fg {
  opacity: 1;
}
